{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-4">Búsqueda avanzada de publicaciones</h2>
        <div class="row">
            <div class="col-7">
                <input id="search" type="text" name="search" placeholder="Introduce tu término de búsqueda..." class="form-control">
            </div>
            <div class="col-3">
                <select id="type" name="type" class="custom-select">
                    <option value="title">Buscar por título</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="buscar();"><i class="fa fas fa-search"></i> Buscar</button>
            </div>
        </div>
        <h4 id="number_of_results" class="mt-4"></h4>
        <div id="tableWrapper" class="mt-4">
        </div>
    </div>
{% endblock %}

{% block title %}
    Búsqueda avanzada - Politicum
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function buscar() {
            $.ajax({
                method: 'POST',
                url: '{{ path('buscar_publicacion') }}',
                data: {
                    "search": $("#search").val(),
                    "type": $("#type").val(),
                },
                success: function (data) {
                    console.log(data)
                    if (data.content) {
                        $('[data-toggle="tooltip"]').tooltip("hide");
                        $("#tableWrapper").empty().append(data.content);
                        $('[data-toggle="tooltip"]').tooltip();
                    } else {
                        bootbox.alert("Hubo un error en la búsqueda. Por favor, inténtalo de nuevo más tarde.");
                    }
                    if (data.number_of_results) {
                        $("#number_of_results").empty().append("Se han encontrado " + data.number_of_results + " resultado(s).");
                    }
                },
                error: function () {
                    bootbox.alert("Hubo un error en la búsqueda. Por favor, inténtalo de nuevo más tarde.")
                }
            });
        }
    </script>
{% endblock %}
