{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="h3 text-center p-3"> Resultado de la búsqueda</div>
    <div id="tableWrapper">
        {% include "busqueda_usuarios_table.twig" %}
    </div>

{% endblock %}

{% block title %}
   Búsqueda de usuarios
{% endblock %}
