{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 display-4">Resultado de la búsqueda</h1>
        {% include "busqueda_usuarios_table.twig" %}
    </div>

{% endblock %}

{% block title %}
   Búsqueda de usuarios
{% endblock %}
