{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('crear_publicacion') }}" class="btn btn-primary mt-5"><i class="fas fa-pen"></i> Crear publicación</a>
        <div id="tableWrapper" class="mt-4">
            {% include 'foro_table.twig' %}
        </div>
        <a href="{{ path('crear_publicacion') }}" class="btn btn-primary mt-3"><i class="fas fa-pen"></i> Crear publicación</a>
    </div>
{% endblock %}

{% block title %}
    Foro - Politicum
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function deletePublicacion(id) {
            bootbox.confirm("¿Seguro que deseas borrar la publicación?", function (result) {
                if (result) {
                    $.ajax({
                        method: 'POST',
                        url: '{{ path('borrar_publicacion') }}',
                        data: {
                            "id": id,
                        },
                        success: function (data) {
                            console.log(data)
                            if (data.content) {
                                bootbox.alert("Publicación borrada con éxito.");
                                $('[data-toggle="tooltip"]').tooltip("hide");
                                $("#tableWrapper").empty().append(data.content);
                                $('[data-toggle="tooltip"]').tooltip();
                            } else {
                                bootbox.alert("Hubo un error al borrar la publicación. Por favor, inténtalo de nuevo más tarde.");
                            }
                        },
                        error: function () {
                            bootbox.alert("Hubo un error al borrar la publicación. Por favor, inténtalo de nuevo más tarde.")
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
