{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="tableWrapper" class="mt-5">
            {% include 'foro_table.twig' %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Foro - Politicum
{% endblock %}
