{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="tableWrapper" class="mt-5">
            {% include 'foro_table.twig' %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Foro - Politicum
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function deletePublicacion(id) {
            $.ajax({
                method: 'POST',
                url: '{{ path('borrar_publicacion') }}',
                data: {
                    "id" : id,
                },
                success: function(data) {
                    console.log(data)
                },
                error: function() {
                }
            });
        }
    </script>
{% endblock %}
