{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h2 class="mb-4">Responder</h2>
        {{ form(form) }}
    </div>
{% endblock %}

{% block title %}
    Añadir respuesta - Politicum
{% endblock %}

